body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('https://tinybop.com/img/posts/bonus-curios-plants-desert-frogs-aestivation/bonus-curios-plants-desert-frogs-aestivation-hero.gif');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
